.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Arial";
    -fx-base: white;
    -fx-background: white;
}

.button { 
    -fx-background-color: black; 
    -fx-text-fill: white; 
 }

 #btnSignUp {
    -fx-background-color: rgb(105, 0, 0);
    -fx-text-fill: white;
}

#whitetxt{
    -fx-text-fill: white;
}